<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/main.css')}}"
    />
    <title>Todo App</title>
    <style>
      .hidden {
        display: none;
      }
      .todo-delete-button {
        -webkit-appearance: none;
        border: none;
        outline: none;
        color: red;
        float: right;
        cursor: pointer;
        font-size: 15px;
      }
      .list-delete-button {
        -webkit-appearance: none;
        border: none;
        outline: none;
        color: red;
        float: right;
        cursor: pointer;
        font-size: 15px;
      }
    </style>
  </head>
  <body>
    <div class="navbar">
      <div class="">
        <button class="button my-4">Login</button>
      </div>
    </div>
    <div class="main-content-wrapper">
      <div class="todo-headline py-3 uppercase">Start doing. Now.</div>
      <div class="flex">
        <div class="lists-wrapper">
          <ul id="todolists">
            {% for list in lists %}
            <a href="/lists/{{list.id}}">
              {% if list.name == active_list.name%}
              <li class="list-element-active" id="{{list.id}}">
                {{ list.name }}
                <button
                  class="list-delete-button"
                  id="{{list.id}}"
                  type="submit"
                >
                  &cross;
                </button>
              </li>
              {% else %}
              <li class="list-element" id="{{list.id}}">
                {{ list.name }}
                <button
                  class="list-delete-button"
                  id="{{list.id}}"
                  type="submit"
                >
                  &cross;
                </button>
              </li>
              {% endif %}
            </a>
            {% endfor %}
            <div class="list-new-wrapper">
              <form id="new-todolist">
                <a href="#" class="flex w-full"
                  ><li class="list-new">
                    <button type="submit">
                      <span class="px-2 m-1 font-light hover:font-black"
                        >+</span
                      ></button
                    ><input
                      type="text"
                      name="todolist-name"
                      id="todolist-name"
                      class="list-new-input"
                    /></li
                ></a>
              </form>
            </div>
          </ul>
        </div>
        <div class="todos-wrapper">
          <h3 class="font-bold text-xl">{{ active_list.name }}</h3>
          <form id="add-todo">
            <div class="w-full my-2">
              <input
                type="text"
                name="description"
                id="description"
                placeholder="Choose your todo description"
                class="flex bg-gray-300 border border-black rounded-md p-1"
              />
              <!-- <label for="description">Todo description</label> -->
              <button type="submit" class="flex button my-2">Add Todo</button>
            </div>
          </form>
          <div id="error" class="hidden">Something went wrong!</div>
          <ul id="todos" class="todo-list">
            {% for todo in todos %}
            <li>
              <input
                name="checked"
                class="check-completed"
                data-id="{{todo.id}}"
                id="{{todo.id}}"
                type="checkbox"
                {%
                if
                todo.completed
                %}
                checked
                {%
                endif
                %}
              />
              {{todo.description}}
              <button class="todo-delete-button" id="{{todo.id}}" type="submit">
                &cross;
              </button>
            </li>

            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="footer flex flex-col p-2 w-full">
        <h1 class="flex todo-headline w-full underline">Footer</h1>
        <div class="flex w-full">
          <ul class="flex flex-col w-1/2">
            <li>Imprint</li>
            <li>Data protection</li>
          </ul>
          <ul class="flex flex-col w-1/2">
            <li>About us</li>
            <li>
              Career
              <span
                class="hover:bg-purple-700 bg-yellow-300 text-black hover:text-white rounded-md px-1 text-xs"
                >We are hiring</span
              >
            </li>
          </ul>
        </div>
        <div class="flex flex-row w-full justify-center">
          <span class="text-xs pt-5"
            >&copy; <a href="http://andreaslempik.de">ndrslmpk</a></span
          >
        </div>
      </div>
    </div>

    <script>
      const checkboxes = document.querySelectorAll(".check-completed");
      for (let i = 0; i < checkboxes.length; i++) {
        const checkbox = checkboxes[i];
        checkbox.onchange = function (e) {
          console.log("event", e);
          const newCompleted = e.target.checked;
          const itemId = e.target.id;
          const itemId_dataset = e.target.dataset["id"];
          fetch(`/${itemId}/set-completed`, {
            method: "POST",
            body: JSON.stringify({
              id: itemId,
              completed: newCompleted,
            }),
            headers: {
              "Content-Type": "application/json",
            },
          })
            .then(function (e) {
              document.getElementById("error").className = "hidden";
              console.log(e);
            })
            .catch(function (e) {
              document.getElementById("error").className = "";
              console.log(e);
            });
        };
      }

      document.getElementById("add-todo").onsubmit = function (e) {
        const activeListId = document.getElementsByClassName(
          "list-element-active"
        )[0].id;
        console.log(e);
        e.preventDefault();
        console.log(e);
        const listId = null;
        fetch(`/lists/${activeListId}/todo/create`, {
          method: "POST",
          body: JSON.stringify({
            description: document.getElementById("description").value,
            list_id: activeListId,
          }),
          headers: {
            "Content-Type": "application/json",
          },
        })
          .then(function (response) {
            return response.json();
          })
          .then(function (jsonResponse) {
            console.log(jsonResponse);
            const liItem = document.createElement("LI");
            liItem.innerHTML = jsonResponse["description"];
            document.getElementById("todos").appendChild(liItem);
            document.getElementById("error").className = "hidden";
          })
          .catch(function (e) {
            document.getElementById("error").className = "";
            console.log(e);
          });
      };

      document.getElementById("new-todolist").onsubmit = function (e) {
        e.preventDefault();
        console.log(e);
        fetch(`/lists/create`, {
          method: "POST",
          body: JSON.stringify({
            name: document.getElementById("todolist-name").value,
          }),
          headers: {
            "Content-Type": "application/json",
          },
        })
          .then(function (response) {
            return response.json();
          })
          .then(function (jsonResponse) {
            console.log("new-todolist - jsonResponse", jsonResponse);
            const liItem = document.createElement("LI");
            liItem.innerHTML = jsonResponse["name"];
            document.getElementById("todolists").appendChild(liItem);
            document.getElementById("error").className = "hidden";
          })
          .catch(function (e) {
            document.getElementById("error").className = "";
            console.log("new-todolist - error", e);
          });
      };

      const deleteTodoButtons = document.querySelectorAll(
        ".todo-delete-button"
      );
      for (let i = 0; i < deleteTodoButtons.length; i++) {
        const deleteTodoButton = deleteTodoButtons[i];
        console.log(deleteTodoButton);
        deleteTodoButton.onclick = function (e) {
          const itemId = e.target.id;
          const itemId_dataset = e.target.dataset["id"];
          fetch(`/${itemId}/delete`, {
            method: "DELETE",
            body: JSON.stringify({
              id: itemId,
            }),
            headers: {
              "Content-Type": "application/json",
            },
          });
        };
      }

      const deleteTodolistButtons = document.querySelectorAll(
        ".list-delete-button"
      );
      for (let i = 0; i < deleteTodolistButtons.length; i++) {
        const deleteTodolistButton = deleteTodolistButtons[i];
        console.log(deleteTodolistButton);
        deleteTodolistButton.onclick = function (e) {
          const listId = e.target.id;
          const itemId_dataset = e.target.dataset["id"];
          fetch(`/lists/${listId}/delete`, {
            method: "DELETE",
            body: JSON.stringify({
              id: listId,
            }),
            headers: {
              "Content-Type": "application/json",
            },
          });
        };
      }
    </script>
  </body>
</html>
